# Ignore dependencies and build artifacts
node_modules/
.astro/
dist/
public/.cache/

# Ignore environment and editor config files
.env
.vscode/
.DS_Store

# Ignore git and GitHub related folders
.git/
.github/