# Ignore Astro build and cache directories
.astro/
dist/
public/.cache/

# Ignore environment files
.env

# Ignore Node.js dependencies
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore generated image thumbnails
public/images/thumbs/

# End of .gitignore
public/images.json
