.container {
  max-width: 1100px;
  margin: 28px auto;
  padding: 0 16px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}
/* Background layers, z-index, etc. */
html:not(.dark)::before,
:root[saved-theme='light']::before,
:root[data-color-mode='light']::before,
html[data-theme='light']::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  will-change: transform;
  background:
    linear-gradient(rgba(255, 255, 255, 0.336), rgba(255, 255, 255, 0.356)),
    radial-gradient(ellipse at center, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.06) 100%),
    url('/images/index-light-blur.webp') center/cover no-repeat;
}
html.dark::before,
:root[saved-theme='dark']::before,
:root[data-color-mode='dark']::before,
html[data-theme='dark']::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  will-change: transform;
  background:
    linear-gradient(rgba(6, 6, 10, 0.315), rgba(6, 6, 10, 0.356)),
    radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.322) 100%),
    url('/images/index-dark-blur.webp') center/cover no-repeat;
}
body > * { position: relative; z-index: 10; background-color: transparent; }
header, main, footer, #nav-container { position: relative; z-index: 11; background-color: transparent; }